.flickr-slider.loading > * {
    display: none;
}
.flickr-slider .loader {
    display: none;
}
.flickr-slider.loading .loader {
    display: block;
    text-align: center;
    margin: 10px;
    color: white;
    font-size: 1.8em;
}

.slide-image, .slide-image img {
    -moz-transition-duration: 1.5s;
    -webkit-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
}
  
.slide-image {
    opacity: 0;
    -moz-transform: scale(1.5) rotate(20deg);
    -webkit-transform: scale(1.5) rotate(20deg);
    -o-transform: scale(1.5) rotate(20deg);
    transform: scale(1.5) rotate(20deg);
    -moz-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%;
}
.slide-image.current {
    opacity: 1;
    -moz-transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}

/* slide globals style */
.slide-images {
    height: 430px;
    position: relative;
    list-style: none;
    padding: 0;
    overflow: hidden;
}
.slide-image {
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 0;
}
.slide-image.current {
    z-index: 10;
}
.slide-image.current img {
    z-index: 12;
}
.slide-image.current figcaption {
    z-index: 13;
}
.slide-image figcaption a {
    color: white;
    z-index: 14;
    text-decoration: none;
}
.slide-image img {
    z-index: 2;
}
.slide-image figcaption {
    position: absolute;
    right: 0;
    top: 4px;
    padding: 5px 10px;
    color: rgba(255,255,255,0.8);
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(0,0,0,0.3);
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    z-index: 3;
}
  
  /* demo specific styles */
@font-face {
	font-family: Delicious;
	src: url('Delicious-Roman.otf');
}
body {
    font-family: Delicious;
    color: #333;
    background: #EEE;
    margin: 30px;
}
h1 {
    text-align: center;
    font-size: 1.8em;
}
p {
    margin: 4px 0;
}
.demoSliderContainer .options {
    padding: 3px 10px;
    text-align: center;
}
.demoSliderContainer .options a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    font-family: Georgia,Serif;
    color: #91BECC;
    margin: 0 2px;
}
.demoSliderContainer .options a:hover {
    color: #D3E5EB;
}
  
.demoSliderContainer .slide-pager a {
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.demoSliderContainer .slide-pager a.current {
    background-color: #91BECC;
    color: black;
    padding: 0 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;  
}
  
.demoSliderContainer .options .prevSlide {
    float: left;
}
.demoSliderContainer .options .nextSlide {
    float: right;
}
  
.demoSliderContainer {
    margin: 5px auto;
    padding: 0;
    background: black;
    overflow: auto;
    -moz-box-shadow: 1px 1px 5px black;
    -webkit-box-shadow: 1px 1px 5px black;
}

.demoSliderContainer, .demoSliderContainer .slide-image img {
    width: 640px;
}
  
.demoSlider {
    margin: 0 auto;
    padding: 0;
    border: 5px solid black;
    border-bottom: 0;
    height: 220px;
    width: 550px;
}
  
footer {
    margin-top: 40px;
    padding-top: 5px;
    border-top: 1px dashed #aaa;
    color: #777;
}

fieldset {
    border: none;
    padding: 2px;
    margin: 10px 0;
}
fieldset legend {
    font-weight: bold;
}

#search {
    float: right;
}
#options {
    margin: 0 auto;
    width: 310px;
}
#options .buttons {
    text-align: center;
    margin-top: 10px;
}
