.slider .slide-image,.slider .slide-image img,.slider .slide-image .caption{transition-duration:1.5s;-moz-transition-duration:1.5s;-webkit-transition-duration:1.5s;-o-transition-duration:1.5s;}
.slider .slide-image{opacity:0;filter:alpha(opacity=0);transform-origin:50% 50%;-moz-transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-o-transform-origin:50% 50%;}
.slider .slide-image.current{opacity:1;filter:alpha(opacity=100);}
.slider.transition-rotatezoomout .slide-image{transform:scale(0) rotate(40deg);-moz-transform:scale(0) rotate(40deg);-webkit-transform:scale(0) rotate(40deg);-o-transform:scale(0) rotate(40deg);}
.slider.transition-rotatezoomout .slide-image.current{transform:scale(1) rotate(0deg);-moz-transform:scale(1) rotate(0deg);-webkit-transform:scale(1) rotate(0deg);-o-transform:scale(1) rotate(0deg);}
.slider.transition-rotatezoomin .slide-image{transform:scale(2) rotate(30deg);-moz-transform:scale(2) rotate(30deg);-webkit-transform:scale(2) rotate(30deg);-o-transform:scale(2) rotate(30deg);}
.slider.transition-rotatezoomin .slide-image.current{transform:scale(1) rotate(0deg);-moz-transform:scale(1) rotate(0deg);-webkit-transform:scale(1) rotate(0deg);-o-transform:scale(1) rotate(0deg);}
.slider.transition-left .slide-image{opacity:1;filter:alpha(opacity=100);left:-100%;}
.slider.transition-left .slide-image.current{left:0;}
.slider.transition-left .slide-image.current~.slide-image{left:100%;}
.slider.transition-top .slide-image{opacity:1;filter:alpha(opacity=100);top:-100%;}
.slider.transition-top .slide-image.current{top:0;}
.slider.transition-top .slide-image.current~.slide-image{top:100%;}
.slider.transition-topfade .slide-image{top:-50%;}
.slider.transition-topfade .slide-image.current{top:0;}
.slider.transition-simple1 .slide-image .caption{right:100%;}
.slider.transition-simple1 .slide-image.current .caption{right:0%;}
.slider.transition-zoomin .slide-image{transform:scale(2);-moz-transform:scale(2);-webkit-transform:scale(2);-o-transform:scale(2);}
.slider.transition-zoomin .slide-image.current{transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);}
.slider.transition-zoomout .slide-image{transform:scale(0);-moz-transform:scale(0);-webkit-transform:scale(0);-o-transform:scale(0);}
.slider.transition-zoomout .slide-image.current{transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);}
.slider.transition-flip .slide-image{transform:scale(-1, 1);-moz-transform:scale(-1, 1);-webkit-transform:scale(-1, 1);-o-transform:scale(-1, 1);}
.slider.transition-flip .slide-image.current{transform:scale(1, 1);-moz-transform:scale(1, 1);-webkit-transform:scale(1, 1);-o-transform:scale(1, 1);}
.slider.theme-dark{background:black;color:white;box-shadow:1px 1px 5px black;-moz-box-shadow:1px 1px 5px black;-webkit-box-shadow:1px 1px 5px black;}.slider.theme-dark a{color:white;}
.slider.theme-dark .caption{background:rgba(0, 0, 0, 0.5);}
.slider.theme-dark .options a{color:#91BECC;}.slider.theme-dark .options a:hover{color:#D3E5EB;}
.slider.theme-dark .slide-image{background:black;}
.slider.theme-dark .slide-pager a.current{background-color:#91BECC;color:black;}
.slider.theme-dark .loader .spinner{background:url(load_dark.gif) no-repeat;}
.slider.theme-darkgreen{background:black;color:white;box-shadow:1px 1px 5px black;-moz-box-shadow:1px 1px 5px black;-webkit-box-shadow:1px 1px 5px black;}.slider.theme-darkgreen a{color:white;}
.slider.theme-darkgreen .caption{background:rgba(0, 0, 0, 0.5);}
.slider.theme-darkgreen .options a{color:#659525;}.slider.theme-darkgreen .options a:hover{color:#85b545;}
.slider.theme-darkgreen .slide-image{background:black;}
.slider.theme-darkgreen .slide-pager a.current{background-color:#8BBF36;color:black;}
.slider.theme-darkgreen .loader .spinner{background:url(load_dark.gif) no-repeat;}
.slider.theme-light{background:white;color:black;box-shadow:1px 1px 5px black;-moz-box-shadow:1px 1px 5px black;-webkit-box-shadow:1px 1px 5px black;}.slider.theme-light a{color:#555;}
.slider.theme-light .caption{background:rgba(255, 255, 255, 0.7);color:#555;}
.slider.theme-light .options a{color:#AAA;}.slider.theme-light .options a:hover{color:#888;}
.slider.theme-light .slide-image{background:white;}
.slider.theme-light .slide-pager a.current{background-color:#AAA;color:white;}
.slider.theme-light .loader .spinner{background:url(load_light.gif) no-repeat;}
.slider.theme-red{background:#4D1514;color:white;box-shadow:1px 1px 5px black;-moz-box-shadow:1px 1px 5px black;-webkit-box-shadow:1px 1px 5px black;}.slider.theme-red a{color:white;}
.slider.theme-red .caption{background:rgba(0, 0, 0, 0.5);}
.slider.theme-red .options a{color:#F23;}.slider.theme-red .options a:hover{color:#F56;}
.slider.theme-red .slide-image{background:white;}
.slider.theme-red .slide-pager a.current{background-color:#AC262D;color:white;}
.slider.theme-red .loader .spinner{background:url(load_dark.gif) no-repeat;}
.slider .options{padding:3px 10px;text-align:center;}
.slider .options a{text-decoration:none;font-weight:bold;font-size:12px;font-family:Georgia,Serif;margin:0 2px;}
.slider .slide-pager a{transition-duration:0.5s;-moz-transition-duration:0.5s;-webkit-transition-duration:0.5s;-o-transition-duration:0.5s;}
.slider .slide-pager a.current{padding:0 4px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.slider .options .prevSlide{float:left;}
.slider .options .nextSlide{float:right;}
.slider.loading>*{display:none;}
.slider .loader{display:none;}
.slider .loader .spinner{display:inline-block;width:20px;height:16px;}
.slider.loading .loader{display:block;text-align:center;margin:10px;padding:10px;font-size:1.8em;}
.slider .slide-images{position:relative;padding:0;overflow:hidden;}
.slider .slide-image{position:absolute;padding:0;margin:0;z-index:0;}
.slider .slide-image.current{z-index:10;}
.slider .slide-image.current img{z-index:12;}
.slider .slide-image.current .caption{z-index:13;}
.slider .slide-image a{text-decoration:none;}
.slider .slide-image img{z-index:2;width:100%;border:none;}
.slider .slide-image .caption{opacity:0.8;filter:alpha(opacity=80);z-index:3;position:absolute;right:0;top:4px;padding:5px 10px;font-weight:bold;font-size:14px;border-radius:5px 0 0 5px;-webkit-border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;}
